In [11]:
# (octothrope) pythonic
n = 100

In [12]:
n

100

In [13]:
d = 200.0

In [14]:
d

200.0

In [15]:
5/3

1

In [16]:
5/3.0

1.6666666666666667

In [17]:
type(5/3.0)

float

In [18]:
type(d)

float

In [19]:
st = 'Hello World'

In [20]:
st

'Hello World'

In [21]:
st2 = "G'day mate"

In [23]:
st2

"G'day mate"

In [25]:
st3 = st + st2

In [26]:
st3

"Hello WorldG'day mate"

In [27]:
# python 2 version
print st3

Hello WorldG'day mate

In [28]:
# python 3 version
print(st3)

Hello WorldG'day mate

In [29]:
st

'Hello World'

In [30]:
st[0]

'H'

In [33]:
st = 100

In [34]:
st3

"Hello WorldG'day mate"

In [37]:
st3 = str(st) + st2

In [38]:
st3

"100G'day mate"

In [39]:
# printing in python
print 'Hello, %s' % 'World'

Hello, World

In [42]:
# printing w/ multi vars
print '%s, %s' % ('Hello', 'World')

Hello, World

In [45]:
# "%.2f"
print '%i, is 100' % 100.0

100, is 100

In [46]:
# "pythonic" string format
print 'Hello, {w}'.format(w="World")

Hello, World

In [47]:
print '{h}, {w}'.format(w="World", h="Hello")

Hello, World

In [67]:
s = "Hello, World!"

In [50]:
s[0]

'H'

In [52]:
# get all items
# str[start:end]
# str[:]
s[:]

'Hello, World!'

In [53]:
s[1:]

'ello, World!'

In [54]:
s[10:20]

'ld!'

In [55]:
s[-1:]

'!'

In [56]:
len(s)

13

In [57]:
s[-5:]

'orld!'

In [58]:
s[::]

'Hello, World!'

In [61]:
s[::2]

'Hlo ol!'

In [62]:
s[::-1]

'!dlroW ,olleH'

In [65]:
# how to reverse just the words in a string, not the whole string
s = "Hello, World".split(",")
for word in s:
    print word[::-1]

olleH
dlroW

In [69]:
s = "Hello, World"
s[2:-2]

'llo, Wor'

In [80]:
# let's look at lists!
# you can literally have anything in a list
l = ["Hello", ["More", "Strings", ["deeper", "arrays",["for", "just","tom"]]], 100, None]
l

['Hello',
 ['More', 'Strings', ['deeper', 'arrays', ['for', 'just', 'tom']]],
 100,
 None]

In [91]:
l[1][2][2][2][0]

't'

In [79]:
for thing in l:
    print thing

Hello
['More', 'Strings']
100
None

In [92]:
l

['Hello',
 ['More', 'Strings', ['deeper', 'arrays', ['for', 'just', 'tom']]],
 100,
 None]

In [93]:
l[0] = "Tong"

In [94]:
l

['Tong',
 ['More', 'Strings', ['deeper', 'arrays', ['for', 'just', 'tom']]],
 100,
 None]

In [96]:
l.count('Coffee') # checking for membership

0

In [98]:
len(l[1])

3

In [100]:
s = set(["hello", "world"])

In [101]:
s

{'hello', 'world'}

In [104]:
# adding an element to a set
s.add('Gabe')
s.add('hello')

In [105]:
s

{'Gabe', 'hello', 'world'}

In [132]:
dic = { "key1" : "value1", "key2" : "value2", 4:100 }

In [122]:
dic

{'key1': 'value1', 'key2': 'value2'}

In [123]:
for k in dic:
    print k

key2
key1

In [133]:
# python 2 iteration
for k,v in dic.iteritems():
    print k, v

key2 value2
key1 value1
4 100

In [134]:
# python 3 iteration
for k,v in dic.items():
    print k,v

key2 value2
key1 value1
4 100

In [135]:
# tuples - immutable
tup = (100, "hello")

In [136]:
print tup

(100, 'hello')

In [137]:
type(tup)

tuple

In [138]:
tup[0]

100

In [139]:
tup[1]

'hello'

In [141]:
for t in tup:
    print(t)

100
hello

In [150]:
# list of tuple
lt = [(0,0, 0), (3,4, 10), (14, 20, 34)]
for tup_v, tup_k, tup_z in lt: # tuple unpacking
    print tup_v, tup_k, tup_z

0 0 0
3 4 10
14 20 34

In [151]:
#bools
t = True 
f = False
n = None

In [152]:
t == True

True

In [161]:
t = False
f = True 

# is not is the same as !=
# is is the same as ==
if t is not True and f is True:
    print("So true")
elif t == False :
    print("So false")
else:
    print("Its none")

So true

In [165]:
# ternary 
# var i = (m > 3) ? 4 : 5 // so swifty/objc!
# A if (condition) else B // so pythonic
m = 2
i = 5 if (m > 3) else 4
i

4

In [168]:
# incredibly pythonic - list comprehensions
# x^2 : x (1...10)
# [1, 4, 9...]
def func_name():
    print 'Test'
    
def no_returns_stated():
    return 1

def squared(x):
    return x**2 # ** operator is 'to the power'

print squared(4)

16

In [204]:
def mixed_params(num, string):
    print 'String %s' % string
    print num + 100
    
mixed_params(string="hello", num=100)

String hello
200

In [172]:
mixed_params(string = "Hello", num = 20)

String Hello
120

In [182]:
# pretty pythonic
#mixed_params("hello", 20)
mixed_params(20)

String Hello
120

In [207]:
def squared(x):
    for thing in x:
        print thing**2
        
# as a list comprehension
def squared(x):
    return [thing**2 for thing in x]

In [208]:
squared([2, 3, 4, 5, 6])

[4, 9, 16, 25, 36]

# Post-Lunch
### List Comprehensions!

In [301]:
# list comprehensions, so pythonic!

# what is it?
# a single line used to perform a simple function on a list

def squared(x):
    return_array = []
    for num in x: 
        return_array.append(num**2)
    return return_array

squared_list = squared([3, 4, 5, 6, 7])

l = [3, 4, 5, 6, 7, 8]
squared_comp_list = [num**2 for num in l if num % 2 == 0]

def square_equiv(x):
    return_list = []
    for num in l:
        if num % 2 == 0:
            return_list.append(num**2)
    return return_list

In [302]:
print square_equiv(l)

[16, 36, 64]

In [274]:
for letter in 'Hello': print letter # a letter + \n

H
e
l
l
o

In [289]:
ans = [letter for letter in 'Hello']

def listify(word):
    l = []
    for letter in word:
        # single letter
        l.append(letter)
    return l

In [290]:
listify('World')

['W', 'o', 'r', 'l', 'd']

In [314]:
def fizz_buzz(n):
    # if % 3 == "fizz"
    # if % 5 == "buzz"
    # if both == "fizzbuzz"
    # if neither == n
    
    for i in range(1, n+1):
        if i % 3 == 0 and i % 5 == 0:
            print 'FizzBuzz'
        elif i % 3 == 0:
            print 'Fizz'
        elif i % 5 == 0:
            print 'Buzz'
        else:
            print i
            
fizz_buzz(15)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [351]:
# will print the value of i % 3 from 1-16
[i % 3 for i in range(1, 16)]

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0]

In [352]:
[bool(i % 3) for i in range(1, 16)]

[True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False]

In [347]:
# prints a bool that represents the value of i % 3, and then inverts it
[not i % 3 for i in range(1, 16)]

[False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True]

In [353]:
[not i % 3 or str(i) for i in range(1, 16)]

['1',
 '2',
 True,
 '4',
 '5',
 True,
 '7',
 '8',
 True,
 '10',
 '11',
 True,
 '13',
 '14',
 True]

In [355]:
['Fizz' * (not i % 3) or str(i) for i in range(1, 16)]

['1',
 '2',
 'Fizz',
 '4',
 '5',
 'Fizz',
 '7',
 '8',
 'Fizz',
 '10',
 '11',
 'Fizz',
 '13',
 '14',
 'Fizz']

In [357]:
["Fizz", "Buzz"] * 3

['Fizz', 'Buzz', 'Fizz', 'Buzz', 'Fizz', 'Buzz']

In [360]:
#very pythonic answer to fizzbuzz
['Fizz' * (not i % 3) + 'Buzz' * (not i % 5) or str(i) for i in range(1, 16)]

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']